extends layout

block content
	section.section--center.mdl-grid.mdl-grid--no-spacing
		div.mdl-cell.mdl-cell--1-col
		div.mdl-cell.mdl-cell--10-col.mdl-shadow--2dp
			div.mdl-cell.mdl-cell--12
				h1 Welcome
		div.mdl-cell.mdl-cell--1-col

